.clear {
    clear: both;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    padding-left: 6px;
    padding-right: 6px;
}

.pull-left {
    float: left;
}

.cell {
    float: left;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 17px;
    line-height: 37px;
    touch-action: manipulation;
}

.closed {
    background-image: url("images/closed.png");
}

.pressed {
    background-image: url("images/pressed.png");
}

.flagged {
    background-image: url("images/flag.png");
 }
.type1 {
    background-image: url("images/type1.png");
}

.exploded {
    background-image: url("images/mine_red.png")
}