.clear {
    clear: both;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    padding-left: 6px;
    padding-right: 6px;
}

.pull-left {
    float: left;
    width: max-content;
}

.input-data {
    display: inline-block;
    vertical-align: "middle";
}

.nodisplay {
    display: none;
}

.cell {
    float: left;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 17px;
    line-height: 37px;
    touch-action: manipulation;
}

.closed {
    background-image: url("images/closed.png");
}

.pressed {
    background-image: url("images/pressed.png");
}

.flag {
    background-image: url("images/flag.png");
}
 
.type0 {
    background-image: url("images/type0.png");
}
 
.type1 {
    background-image: url("images/type1.png");
}

.type2 {
    background-image: url("images/type2.png");
}

.type3 {
    background-image: url("images/type3.png");
}

.type4 {
    background-image: url("images/type4.png");
}

.type5 {
    background-image: url("images/type5.png");
}

.type6 {
    background-image: url("images/type6.png");
}

.type7 {
    background-image: url("images/type7.png");
}

.type8 {
    background-image: url("images/type8.png");
}

.exploded {
    background-image: url("images/mine_red.png")
}

.misflag {
    background-image: url("images/mine_wrong.png");
}