.cell {
    float: left;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 17px;
    line-height: 37px;
    touch-action: manipulation;
}

.closed {
    background-image: url("images/closed.png");
}

.pressed {
    background-image:url("images/pressed.png");
}

.type1 {
    background-image:url("images/type1.png");
}